<!DOCTYPE html>
<html>
<head>
    <title>Will Document</title>
</head>
<body>
    <h1>Will Document for {{generalInfo.firstName}} {{generalInfo.lastName}}</h1>
    <!-- Digital Assets -->
    <section>
        <h2>Digital Assets</h2>
        <p><strong>Permission to Manage Digital Assets:</strong> {{digitalAssets}}</p>
    </section>

    <!-- Funeral Plans -->
    <section>
        <h2>Funeral Plans</h2>
        <p><strong>Funeral Preference:</strong> {{funeralPlans}}</p>
    </section>
</body>
</html>
